/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* customised */
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::before, 
.clearfix::after{
    display: table;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.nav{
    background-color: black;
    vertical-align: middle;
    color: chartreuse;
    padding: 0 15px;
    /* float: right; */
}
.header{
    padding: 0 20px ;
    background-color: black;
}
.brand{
    color: chartreuse;
}
h2{
    font-size: 38px;
}
a{
    text-decoration: none;
    color: chartreuse;
    padding: 0 15px;
}
.header .nav{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}
.container{
    max-width: 1200px;
    display: flex;
    margin: 3%;
    padding: 0 50px;
    flex-wrap: wrap;
}
section{
    margin-bottom: 30px;
}
.artical{
    width: 100%; 
}
.artical p{
    font-size: 28px;
    width: 40%;    
}
.img{
    padding: 2px;
    width: 90%;
}
.gallary{
    object-fit: cover;
    width: 33%;
    display: inline-flex;
    padding: 20px 0;
}
.fix{
    display: flex;
    padding: 1%;
}
.gal{
    width: 80%;
    height: 300px;
}
.footer .nav{
    background-color: black;
    text-align: center;
    margin: 0 auto;
}
i{
    padding:10px 20px;
}
